<p id="notice"><%= notice %></p>

<p>
  <b>Points:</b>
  <%= @ability_score.points %>
</p>

<p>
  <b>Modifier:</b>
  <%= @ability_score.modifier %>
</p>


<%= link_to 'Edit', edit_ability_score_path(@ability_score) %> |
<%= link_to 'Back', ability_scores_path %>
