<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :campaign %><br />
    <%= f.text_field :campaign %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :cclass %><br />
    <%= f.text_field :cclass %>
  </div>
  <div class="field">
    <%= f.label :alignment %><br />
    <%= f.text_field :alignment %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :eye_color %><br />
    <%= f.text_field :eye_color %>
  </div>
  <div class="field">
    <%= f.label :hair_color %><br />
    <%= f.text_field :hair_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
