<h1>Listing characters</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Campaign</th>
    <th>Race</th>
    <th>Cclass</th>
    <th>Alignment</th>
    <th>Size</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Eye color</th>
    <th>Hair color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.user %></td>
    <td><%= character.name %></td>
    <td><%= character.campaign %></td>
    <td><%= character.race %></td>
    <td><%= character.cclass %></td>
    <td><%= character.alignment %></td>
    <td><%= character.size %></td>
    <td><%= character.age %></td>
    <td><%= character.gender %></td>
    <td><%= character.height %></td>
    <td><%= character.weight %></td>
    <td><%= character.eye_color %></td>
    <td><%= character.hair_color %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %>
