<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @character.user %>
</p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Campaign:</b>
  <%= @character.campaign %>
</p>

<p>
  <b>Race:</b>
  <%= @character.race %>
</p>

<p>
  <b>Cclass:</b>
  <%= @character.cclass %>
</p>

<p>
  <b>Alignment:</b>
  <%= @character.alignment %>
</p>

<p>
  <b>Size:</b>
  <%= @character.size %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @character.gender %>
</p>

<p>
  <b>Height:</b>
  <%= @character.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @character.weight %>
</p>

<p>
  <b>Eye color:</b>
  <%= @character.eye_color %>
</p>

<p>
  <b>Hair color:</b>
  <%= @character.hair_color %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
